<main class="page">
  <h1>Contact</h1>
  <div id="contact-box">
      <p>
        <a class="contact-url" href="mailto:tristanjetlay1@gmail.com" target="_blank" rel="noopener noreferrer">tristanjetlay1@gmail.com</a>
        (
        <a class="contact-url" href="/pub-key.txt">pgp-key</a>
        )
        <br>
        <a class="contact-url" href="https://x.com/flyasajet/" target="_blank" rel="noopener noreferrer">X</a>
        ,
        <a class="contact-url" href="https://github.com/TristanJet/" target="_blank" rel="noopener noreferrer">github</a>
      </p>
  </div>
</main>
